# Quarto build artifacts
_freeze/
.quarto/
report.html
aigen.html

# R session files
.Rhistory
.RData
.Rproj.user/
*.Rproj

# OS files
.DS_Store
Thumbs.db

**/*.quarto_ipynb
report_files/figure-html/chart1-1.png
